.nav_baby{
    height: 40px;
    background-color: #a9b5c5; 
    display: flex;
    padding-top: 5px;
    color: black;
}
.nav_baby ul{
    display: flex;
    list-style-type: none;
}
.nav_baby ul li{
   padding-left: 10px;
}
    
.nav_baby ul li a{
    text-decoration-color:orange ;
    color: black;
}
.nav_baby :hover{
    border: none;
}
.fixed-bar{
    width: 250px;
    height: 100%;
    border-right:1px solid black;
    padding-left: 10px;
}
.fixed_bar2{
    
    margin-left: 20px;
     margin-top: 10px;
}